@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2017/01/03/22/53/sunrise-1950873_960_720.jpg');
  background-size: cover;
  background-position: center center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
}

.countdown-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.cd {
  text-align: center;
}

.cd span {
  font-size: 2rem;
  margin: 0.2rem;
}
